<!DOCTYPE html>
<html>
  <head>
    <%= partial "includes/layout/head" %>
  </head>
  <body>
    <%= partial "includes/layout/nav" %>
    <div class="wrapper">
      <div class="<%= (current_page.data.page_class if current_page.data.page_class) %> container md-page">
        <ol class="breadcrumb">
          <li>You are here:</li>
          <%= breadcrumbs(current_page) %>
        </ol>
        <%= yield %>
      </div>
    </div>
    <%= partial "includes/layout/footer" %>
  </body>
</html>
